<header>
    <h1>Welcome to Nobel Search</h1>
    <h2>Please login below</h2>
    <div class="logDiv">
      <div class="logins">
        <a class="memberLog" href="">Member Login</a>
        <a class="newLog" href="http://localhost:3000/newuser">New User</a>
      </div>
    </div>
      <img class="picOfPrize" src="images/nobelPrize.png" alt="">
</header>
