<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Homepage</title>
  <link rel="" href="">
  <link rel="stylesheet" href="css/theme.css">
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
  <% include partials/header -%>
  <img src="/images/stockholm.jpeg" class="picOfCity" alt="">
  <!-- text taken from https://en.wikipedia.org/wiki/Nobel_Prize -->
  <p class="description">The prize ceremonies take place annually in Stockholm, Sweden, except for the peace prize which is held in Oslo, Norway and each recipient, or laureate, receives a gold medal, a diploma and a sum of money that has been decided by the Nobel Foundation. (As of 2012, each prize was worth SEK8 million or about US$1.2 million, €0.93 million or £0.6 million.) The Nobel Prize is widely regarded as the most prestigious award available in the fields of
  literature, medicine, physics, chemistry, peace, and economics</p>
  <br>
  <p>*text taken from https://en.wikipedia.org/wiki/Nobel_Prize</p>
</body>
</html>
