<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Homepage</title>
  <link rel="" href="">
  <link rel="stylesheet" href="css/theme.css">
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
  <% include partials/header -%>
</body>
</html>
