<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search Page</title>
  <link rel="stylesheet" href="css/theme.css">
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
  <header>
    <h1>Welcome to Nobel Search</h1>

      <img class="picOfPrize" src="../images/nobelPrize.png" alt="nobel">
</header>
<h1>pick a category</h1>
<select name="category" id="categories">
<!-- <option value="">Choose a category</option> -->
<option value="physics">Physics</option>
<option value="economics">Economics</option>
<option value="medicine">Medicine</option>
<option value="peace">Peace</option>
<option value="chemistry">Chemistry</option>
<option value="literature">Literature</option>
</select>
<br>
<button id="sButton">Search</button>
</body>
</html>
