<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login</title>
  <link rel="stylesheet" href="../css/newUser.css">
</head>
<body>
<% include ../partials/header -%>
  <form action="/user/login" method="post">
    <label for="">Email:</label>
    <input type="text" name="email"><br>
    <label for="">Password:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="Login">
  </form>
  <img class="picOfTheater" src="/images/nobelPrizeTheater.jpg" alt="">
</body>
</html>
